<template>
  <v-footer
    id="core-footer"
    absolute
    height="82"
  >
    <div class="footer-items">
      <span
        v-for="link in links"
        :key="link.name"
      >
        <a
          :href="link.Link"
          class="tertiary--text footer-links">{{ link.name }}</a>
      </span>
    </div>
    <v-spacer/>
    <span class="font-weight-light copyright">
      &copy;
      {{ (new Date()).getFullYear() }}
      <a
        href=""
        target="_blank">Company List</a>, made with
      <v-icon
        color="ipay"
        size="17">mdi-heart</v-icon>
    </span>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: [
      { name: 'Search', Link: '/search' },
      { name: 'Companies', Link: '/companies' },
      { name: 'Restricted', Link: '/restricted' }
    ]
  })
}
</script>

<style>
#core-footer {
  z-index: 0;
}
</style>
