<template>
  <v-container>
    <v-layout
      justify-center
      wrap>
      <v-flex md12>
        <material-card
          color="success"
          title="Companies"
          text="A full comprehensive list of company details">
          <v-tabs-items>
            <v-tab-item>
              <v-card>
                <v-card-text>
                  <v-data-table
                    :headers="headers"
                    :items="items">
                    <template
                      slot="headerCell"
                      slot-scope="{ header }">
                      <span
                        class="subheading font-weight-light"
                        v-text="header.text"
                      />
                    </template>
                    <template
                      slot="items"
                      slot-scope="{ item }">
                      <td>{{ item.fake_company_name }}</td>
                      <td>{{ item.business_number.replaceAll('-', '') }}</td>
                      <td>{{ item.company_email }}</td>
                      <td />
                    </template>
                  </v-data-table>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        sortable: false,
        text: 'Comapny Name',
        value: 'fake_company_name'
      },
      {
        sortable: false,
        text: 'Business Number',
        value: 'business_number'
      },
      {
        sortable: false,
        text: 'Company Email',
        value: 'company_email'
      }
    ],
    items: []
  }),

  mounted () {
    const axios = require('axios')

    axios
      .get('http://localhost:8090/company')
      .then(response => {
        this.items = response.data
      })
  }
}
</script>
