<template>
  <v-container>
    <v-layout justify-center>
      <v-flex
        xs12
        sm10
        md8>
        <material-card
          color="pwc"
          title="Search"
          text="Search company ID to view company details"
        >
          <v-form
            id="searchForm"
            ref="form"
            lazy-validation>
            <v-text-field
              v-model="number"
              :counter="10"
              :rules="numberRules"
              label="Business Number"
              hint="123456789"
              required
            />

            <v-btn
              color="pwc"
              @click="search"> Search </v-btn>
          </v-form>
        </material-card>

        <material-card
          color="pwc"
          title="Company Summary"
          text="A detailed description company by search"
        >
          <v-flex
            xs12>
            <v-text-field
              v-model="business_number"
              class="purple-input"
              label="Business Number"
              type="string"
            />
          </v-flex>
          <v-flex
            xs12>
            <v-text-field
              v-model="company_email"
              label="Company Email"
              class="purple-input"
              required/>
          </v-flex>
          <v-flex
            xs12>
            <v-text-field
              v-model="description"
              label="Description"
              class="purple-input"
              required/>
          </v-flex>
          <v-flex
            xs12>
            <v-text-field
              v-model="restricted"
              label="Restricted"
              class="purple-input"
              required/>
          </v-flex>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    numberRules: [(v) => !!v || 'Company ID is required'],
    number: [],
    business_number: [],
    company_email: [],
    description: [],
    restricted: []
  }),
  // validate token
  created () {},
  methods: {
    search () {
      const axios = require('axios')

      axios
        .get('http://localhost:8090/company/' + this.number)
        .then((response) => {
          this.business_number = response.data.business_number
          this.company_email = response.data.company_email
          this.description = response.data.description
          this.restricted = response.data.restricted
        })
    }
  }
}
</script>
