<template>
  <v-app>
    <core-view />
  </v-app>
</template>

<style lang="scss">
@import '@/styles/index.scss';

/* Remove in 1.2 */
.v-datatable thead th.column.sortable i {
  vertical-align: unset;
}
</style>
<script>

export default {
  computed: {
  },
  mounted () {
  }
}
</script>
